@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.background {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* filter: grayscale(50%); */
  opacity: 1;
  z-index: -1;
}

.title {
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 80px;
  color: antiquewhite;
}

.tagline {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 50px;
  color: antiquewhite;
}

.input {
  width: 53rem;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 0.8rem;
  background-color: white;
  border: none;
}

.search-container {
  position: absolute;
  left: 550px;
  margin-top: 3rem;
}

.dropdown {
  background-color: white;
  width: 15rem;
  height: 100%;
  display: flex;
  position: relative;
  border-radius: 0.8rem;
}
